.*.sw*
*.c
https-everywhere/*
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
Makefile
src/dummy*
doc/*

httpseverywhere.h
httpseverywhere.vapi
libhttpseverywhere.so
HTTPSEverywhere-*.typelib
HTTPSEverywhere-*.gir

