Source: libhttpseverywhere
Maintainer: Daniel Brendle <grindhold@skarphed.org>
Section: libs
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)

Package: libhttpseverywhere
Architecture: any 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: HTTPSEverywhere for desktop applications 
 This library allows you to use the functionality of HTTPSEverywhere
 in virtually any desktop application. It provides a typelibfile for
 GObject-Introspection, so it can be used from a wide variety of
 programming languages.
